<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>NetSwarm Webapp</title>
    <link rel="stylesheet" href="static/lib/bootstrap.min.css">
    <script type="text/javascript" src="static/lib/react.js"></script>
    <script type="text/javascript" src="static/lib/react-dom.js"></script>
    <script type="text/javascript" src="static/lib/react-bootstrap.min.js"></script>
    <script type="text/javascript" src="static/lib/redux.js"></script>
    <script type="text/javascript" src="static/lib/redux-thunk.js"></script>
    <script type="text/javascript" src="static/lib/redux-logger.js"></script>
    <script type="text/javascript" src="static/lib/react-redux.js"></script>
    <script type="text/javascript" src="static/lib/socket.io.js"></script>
    <script type="text/javascript" src="static/lib/moment.min.js"></script>
    <script type="text/javascript" src="static/lib/babel-core-browser.min.js"></script>
  </head>
  <body>
    <div id="app"></div>
    <script type="text/babel" src="static/util.js"></script>
    <script type="text/babel" src="static/store.js"></script>
    <script type="text/babel" src="static/settings.js"></script>
    <script type="text/babel" src="static/nodes.js"></script>
    <script type="text/babel" src="static/app.js"></script>
  </body>
</html>
